@import 'node_modules/bootstrap/scss/bootstrap';

@import './styles/colors';

body, html {
    height: 100%;
}

body {
    background-color: $main-bg-color;
}

.btn-primary {
    background-color: $am-blue;
    border-color: $am-blue;
}

.text-light-blue {
    color: $am-light-blue;
}

.fill-light-blue {
    fill: $am-light-blue;
}

.fill-yellow {
    fill: $am-yellow;
}

.fill-dark-grey {
    fill: $am-dark-grey;
}

.valign-top {
    vertical-align: top;
}
